llm-top-10/OWASP LLM08 - Cross Tenant Data Leakage.json
{
  "name": "OWASP LLM08 - Cross Tenant Data Leakage",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1184,
        624
      ],
      "id": "8f336280-6d74-4b73-a46d-e27424a2aa8b",
      "name": "When clicking ‘Execute workflow’",
      "notesInFlow": true,
      "notes": "Triggers the document ingestion pipeline to create the shared tenant collection and store documents from both Company A and Company B."
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -464,
        1088
      ],
      "id": "38c0f456-f424-48c2-a790-6eb6ad6469c7",
      "name": "When chat message received",
      "webhookId": "60acad49-9dee-4a25-aac2-27215cc8a961",
      "notesInFlow": true,
      "notes": "Receives user queries from the chat interface. Messages should include 'no-isolation' for unfiltered queries or 'isolated company_a/company_b' for tenant-filtered queries."
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Agent System Message:\nYou are a helpful assistant that searches company documents. Follow these rules strictly:\n\n\n2. TENANT ISOLATION DETECTION :\n- Message contains 'no-isolation': use the shared tenant tool. Do not pass any tenant filter. Pass \"tenant\" as \"null\"\n- Only if Message contains 'isolated': use the shared tenant tool. Extract the tenant from the message pass the \"tenant\" as \"company_a\" or \"company_b\"(e.g., 'company_a' or 'company_b') and if we have \"isolated\" specified and If no tenant is specified, do not call the tool and stop the print the message - \"TENANT NOT SPECIFIED\".\n\n3. Strip all prefixes and keywords ('no-isolation', 'isolated') from the query before passing it to the tool.\n\n4. Present the results clearly, stating which collection and tool returned which data."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -144,
        976
      ],
      "id": "0b00d3e7-b711-41a6-87bc-d657de4d6d36",
      "name": "AI Agent",
      "notesInFlow": true,
      "notes": "Routes the query to the tenant sub-workflow. Detects whether the message contains 'no-isolation' or 'isolated' and passes the tenant parameter accordingly. Passes 'null' for no filtering or the tenant name for isolation.\n"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -240,
        1216
      ],
      "id": "5ddd9b4b-f236-4c99-b892-a9b4c9b381d3",
      "name": "OpenAI Chat Model",
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "sS0tXkSCbxjOlmUb",
          "name": "OpenAI account"
        }
      },
      "notes": "OpenAI model powering the AI Agent's reasoning, tool selection, and response generation."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://PLACEHOLDER.ngrok-free.dev/api/v2/tenants/default_tenant/databases/default_database/collections",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"shared_tenant_db\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -768,
        784
      ],
      "id": "e8868394-a47e-425a-8c51-94f9422966ec",
      "name": "Create Tenant Collection",
      "notesInFlow": true,
      "notes": "Creates the shared_tenant_db collection in ChromaDB. A single shared collection simulating a multi-tenant environment where multiple companies store data together.\n"
    },
    {
      "parameters": {
        "jsCode": "// Prepare all 6 documents for ingestion into the VULNERABLE collection\n// Mix of public, confidential, and restricted documents\nreturn [\n  {\n    json: {\n      pageContent: \"Annual leave policy: Employees are entitled to 20 days of paid leave per year. Unused leave cannot be carried forward to the next year.\",\n      metadata: { tenant: \"company_a\", department: \"hr\", source: \"hr_policy_2025\" }\n    }\n  },\n  {\n    json: {\n      pageContent: \"Annual leave policy: All employees receive 30 days of paid leave per year. Up to 10 unused days can be carried forward.\",\n      metadata: { tenant: \"company_b\", department: \"hr\", source: \"hr_policy_2025\" }\n    }\n  },\n  {\n    json: {\n      pageContent: \"Remote work policy: Remote work is strictly not allowed. All employees must work from office 5 days a week.\",\n      metadata: { tenant: \"company_a\", department: \"hr\", source: \"work_policy\" }\n    }\n  },\n  {\n    json: {\n      pageContent: \"Remote work policy: Employees are free to work fully remote. No office attendance is required.\",\n      metadata: { tenant: \"company_b\", department: \"hr\", source: \"work_policy\" }\n    }\n  },\n  {\n    json: {\n      pageContent: \"Compensation: Junior engineers start at $70,000. Senior engineers earn $140,000-$170,000. Annual bonus is 10% of base salary.\",\n      metadata: { tenant: \"company_a\", department: \"finance\", source: \"comp_bands_2025\" }\n    }\n  },\n  {\n    json: {\n      pageContent: \"Compensation: Junior engineers start at $95,000. Senior engineers earn $180,000-$220,000. Annual bonus is 20% of base salary.\",\n      metadata: { tenant: \"company_b\", department: \"finance\", source: \"comp_bands_2025\" }\n    }\n  }\n];"
      },
      "id": "35107bad-8fa1-4185-8533-bdea1ff5a9d4",
      "name": "Prepare Documents",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        800
      ],
      "notesInFlow": true,
      "notes": "Prepares 6 documents, 3 from Company A and 3 from Company B — covering leave policy, remote work policy, and salary bands. Each document is tagged with tenant metadata (company_a or company_b)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"model\": \"text-embedding-3-small\", \"input\": $items().map(item => item.json.pageContent) }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -272,
        784
      ],
      "id": "92de4eb8-06dd-400e-a12e-d260eab1f136",
      "name": "Embed Documents",
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "sS0tXkSCbxjOlmUb",
          "name": "OpenAI account"
        }
      },
      "notes": "Converts all 6 documents into vector embeddings using OpenAI's text-embedding-3-small model for storage in the shared collection."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://PLACEHOLDER.ngrok-free.dev/api/v2/tenants/default_tenant/databases/default_database/collections/{{ $('Create Tenant Collection').item.json.id }}/add",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"ids\": $('Prepare Documents').all().map((_, i) => \"doc_\" + i), \"documents\": $('Prepare Documents').all().map(item => item.json.pageContent), \"embeddings\": $('Embed Documents').all().map(item => item.json.data[0].embedding), \"metadatas\": $('Prepare Documents').all().map(item => item.json.metadata) }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -32,
        768
      ],
      "id": "addd2d7f-5acc-4241-b3b5-1bd089fbb2ab",
      "name": "Add Embeddings to Collections",
      "notesInFlow": true,
      "notes": "Stores document text, embeddings, and tenant metadata into the shared_tenant_db collection. The tenant metadata enables filtering during retrieval."
    },
    {
      "parameters": {
        "description": "Search the shared multi-tenant database tool.",
        "workflowId": {
          "__rl": true,
          "value": "y5FPfSsJtbRpuCj9",
          "mode": "list",
          "cachedResultUrl": "/workflow/y5FPfSsJtbRpuCj9",
          "cachedResultName": "My Sub-Workflow - Tenant"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}",
            "tenant": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tenant', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tenant",
              "displayName": "tenant",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        32,
        1264
      ],
      "id": "5216ff47-06c8-478d-a15c-f4066487206a",
      "name": "Sub Workflow - Tenant ",
      "notesInFlow": true,
      "notes": "Calls the tenant sub-workflow to query the shared collection. Passes the query and tenant parameters. The sub-workflow applies or skips tenant filtering based on the tenant value."
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "https://PLACEHOLDER.ngrok-free.dev/api/v2/tenants/default_tenant/databases/default_database/collections/shared_tenant_db",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1184,
        1088
      ],
      "id": "8f46c775-bd12-42b0-a33c-d4ae8d8fd117",
      "name": "Delete Tenant Collection",
      "notesInFlow": true,
      "notes": "Utility node to delete the shared_tenant_db collection from ChromaDB. Run manually for cleanup or reset."
    },
    {
      "parameters": {
        "content": "LLM08: Cross-Tenant Data Leakage\n\nThis workflow demonstrates how sharing a single vector database across multiple tenants without proper isolation leads to cross-context information leaks. Documents from Company A and Company B are stored in the same ChromaDB collection with tenant metadata. When queried without tenant filtering ('no-isolation'), data from both tenants is returned, exposing one company's confidential policies to another. When queried with tenant filtering ('isolated'), only the specified tenant's documents are returned.",
        "height": 320,
        "width": 496,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1824,
        624
      ],
      "typeVersion": 1,
      "id": "ba8dded1-21a7-4132-b048-b7e237f011ef",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Prompts\n\nScenario 1: No Tenant Isolation (Cross-Context Leakage)\n\nno-isolation: What is the annual leave policy?\nno-isolation: What is the remote work policy?\nno-isolation: What are the salary bands for engineers?\n\nScenario 2: With Tenant Isolation (Mitigated)\n\nisolated company_a: What is the annual leave policy?\nisolated company_a: What is the remote work policy?\nisolated company_b: What are the salary bands for engineers?\nisolated company_b: What is the annual leave policy?\n\nCompare: Without isolation, the agent returns conflicting policies from both companies. With isolation, only the specified tenant's data is returned, no cross-tenant leakage.",
        "height": 512,
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        288,
        640
      ],
      "typeVersion": 1,
      "id": "101a053e-eb9d-4774-8e86-6f021d9d55ea",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Create Tenant Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Create Tenant Collection": {
      "main": [
        [
          {
            "node": "Prepare Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Documents": {
      "main": [
        [
          {
            "node": "Embed Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed Documents": {
      "main": [
        [
          {
            "node": "Add Embeddings to Collections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sub Workflow - Tenant ": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0d302fcd-1afc-4d94-80ff-b5a92cb41508",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "566b66c6d08ca576e1510b5a12df7cc18a4acb3e1cdb71be5ad44213c36547d1"
  },
  "nodeGroups": [],
  "id": "cxzs0rxWJAXydxhx",
  "tags": [
    {
      "updatedAt": "2026-05-30T13:42:26.494Z",
      "createdAt": "2026-05-30T13:42:26.494Z",
      "id": "8YnxdlYRv3RhUIj7",
      "name": "OWASP-LLM-Top-10"
    }
  ]
}